<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!DOCTYPE html>
<html>
<head>
	<title>Fun</title>
	<div class="container">
		<br>
		<div class="row col-xs-12 col-sm-12 text-center">
			<div class="btn btn-info btn-lg" onClick="press()">What is liz thinking?</div>
			<div class="row">
				<div>
					<h2 id="lizism">Meep</h2>
				</div>
			</div>
		</div>
		<div class="row col-xs-12 col-sm-12 text-center">
			<div class="btn btn-default btn-lg" onClick="pressfood()">Where should liz go to eat?</div>
			<div class="row">
				<div>
					<h2 id="lizfood">Chipotle</h2>
				</div>
			</div>
		</div>
	</div>
</head>
<body>

	<%= yield %>

</body>
</html>
