<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->
<%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
<!DOCTYPE html>
<html>
<head>
	<title>Fun</title>
	<div class="container">
		<br>
		<div class="row col-md-12 text-center">
			<div class="btn btn-info" onClick="press()">What is liz thinking?</div>
			<div class="row">
				<div>
					<h3 id="lizism">Meep</h3>
				</div>
			</div>
		</div>
	</div>
</head>
<body>

	<%= yield %>

</body>
</html>
