<!DOCTYPE html>
<html>
<head>
	<title>Fun</title>
	<%= javascript_include_tag "bootstrap" %>
	<%= stylesheet_link_tag "bootstrap" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>
